@charset "UTF-8";

body {
    color: #eee;
    background: #333;
}

footer {
    color: #888;
}

a {
    color: #82b1ff;
}

table, td, th {
    border: 1px solid #444;
}

/* Style the list */
ul.breadcrumb {
    background-color: #333;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
    color: #eee;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #82b1ff;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #82b1ff;
}