<hr />
Hello World from the body

<hr />
Name: {{ Name }} <br />
IsComplete: {{ IsComplete}}

<hr />

{% section footer %}
 <span>&copy; Daniel Gilbert, 2019 - @DateTime.Now.Year | v. @AppVersionService.Version </span>
{% endsection %}